/*body {
    margin: 0vw;
}
*/
body, main, #center-area {
    margin: 0vw;
}

#mainly {
    background-image: url(../Banner\ \ Pokémon.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 29vw;

}
#seeker-bar {
    background-color: rgba(10, 34, 248, 0.884);
    text-align: right;
    font-family: 'Patrick Hand', cursive;
    color: rgb(248, 212, 9);
    font-weight: bold;
    font-size: 4vw;
}

input{
    height: 4vw;
    width: 25vw;
    border-radius: 2em;
    margin: 1vw;
    margin-right: 3vw;
}

#center-area {
    background-image: url(../Background\ Pokemon.png);
    background-size: 200vw;
    height: 95vw;
    width: 107vw;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;   
}

.info {
    height: 40vw;
    width: 40vw;
    margin: 0vw;
    display: inline-block;
    margin-top: 19vw;
    margin-left: 8vw;
    background-attachment: fixed;
}

#pokeball-container{
    height: 20vw;
    width: 70vw;
    margin: 0vw;
    display: inline-block;
    margin-left: 15vw;
    background-attachment: fixed;
}

.pokemon-img{
    background: aliceblue;
    height: 24vw;
    width: 30vw;
    margin: 0vw;
    margin-top: 2vw;
    margin-left: 4vw;
    background-attachment: fixed;
    display: inline-block;
    position: absolute;
}

#spawns-pokemon {
    height: 10vw;
    width: 30vw;
    margin: 0vw;
    margin-top: 28vw;
    margin-left: 3vw;
    background-attachment: fixed;
    display: inline-block;
    background-attachment: fixed;
    position: absolute;
}

#name-pokemon {
    height: 10vw;
    width: 30vw;
    margin: 0vw;
    margin-top: 2vw;
    background-attachment: fixed;
    display: inline-block;
    background-attachment: fixed;
    position: absolute;
}

#icono-box {
    height: 23vw;
    width: 30vw;
    margin: 0vw;
    margin-top: 15vw;
    background-attachment: fixed;
    display: inline-block;
    background-attachment: fixed;
    position: absolute;
}

.pokeball {
    height: 18vw;
    width: 18vw;
    border-radius: 5vw;
    position: relative;
    display: inline-block;
    margin: 0vw;
    margin-left: 2vw;        
}